@page "/Register"
@using BlazorApp1.Shared
@using System.ComponentModel.DataAnnotations;
@inject HttpClient Http


<h3>Register</h3>
<p>Oh hey here's a change to push!'</p>

@if (String.IsNullOrEmpty(userCreationStatus))
{
    <EditForm Model="FormModel" OnSubmit="RegisterUser">
        <DataAnnotationsValidator />
            <InputText @bind-Value="FormModel.Username" />
            <InputText @bind-Value="FormModel.Email" />
            <button type="submit">Submit</button>
    </EditForm>
}
else
{
    @userCreationStatus
}


@code {
    public  class UserFormModel
    {
        [Required]
        public string Username { get; set; } = "";
        [EmailAddress]
        public string Email { get; set; } = "";
    }

    public UserFormModel FormModel { get; set; } = new();

    string userCreationStatus = "";


    public async Task RegisterUser()
    {
        User user = new User() { Email = FormModel.Email, Username = FormModel.Username };
        try
        {
            
            var response = await Http.PostAsJsonAsync<User>("User/CreateUser", user);
            response.EnsureSuccessStatusCode();

            if (response.IsSuccessStatusCode)
            {
                var userCreationStatus = await response.Content.ReadAsStringAsync();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception: {ex}");
        }
    }
}
